<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SVS online</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.0/brython.js"></script>
        <script type="text/javascript" src="/static/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <center>
            <h1>線上歌聲合成系統</h1>
            <h2>歷史合成結果</h2>
            <!--alert()會彈出訊息提示-->
            <input type="button" class="btn btn-warning" value="點此查看使用方法" 
            onclick="alert('----------使用說明----------')">
        </center>
        <!--bootstrap預設將畫面分成12欄-->
        <div class="container">   <!--container為定寬容器；加上fluid:不定寬容器-->
            <center>
                <br>
                <form method="post" action="/">
                    <input type="submit" value="decode" name="decode">
                </form>
            </center>
        </div>   
        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>

</html>