<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/piano.ico">
    <title>SVMLAB歌聲合成系統 - 一鍵合成</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.0/brython.js"></script>
    <script type="text/javascript" src="/static/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <br>
    <br>
    <br>
      <center>
          <h1>線上歌聲合成系統</h1>
          <h4>Audio and Hearing Group, NTHU</h4> 
      </center>
    <!--bootstrap預設將畫面分成12欄-->
    <div class="container">
        <!--container為定寬容器；加上fluid:不定寬容器-->
        <div class="row">
            <!--span class="border border-3 border-primary">
                    <!--div class="text-left"-->
            <div class="col">
                <center>
                    <form method=post enctype=multipart/form-data action={{url_for('oneclick')}}>
                        <input type=file name=f_done class="form-control" id="f_doneBtn">
                        <input type=submit name=upload value=上傳單一檔案 id="uploadBtn" class="btn">
                    </form>
                    <!-- <div class="mb-3">
                      <label for="formFile" class="form-label">Default file input example</label>
                      <input class="form-control" type="file" name=f_done id="formFile">
                      <input type=submit name=upload value=上傳單一檔案 id="uploadBtn" class="btn">
                    </div> -->
                </center>
            </div>
        </div>
        <div class="row">
            <center>
                <form method="post" id="oneclickForm" action="">
                    <input type="submit" name="start" id="oneclickBtn" value="一鍵合成！" class="btn btn-primary btn-lg">
                </form>
                <br>
                <div class="spinner-div">
                    <div class="spinner-grow text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    正在進行合成，這通常會進行數秒鐘至2分鐘...
                </div>
                <div class="alert alert-dark" role="alert" id="tiptext" style="margin-top: 10px; border-radius: 20px;">
                  <h4>（若您的裝置無可用文字編輯器，可利用<a href="https://textdoc.co/"
                    target="_blank">TextDoc File Editor</a>創建文字並上傳至本系統）</h4>
                </div>
            </center>
        </div>
    </div>
    <div class="infinite" id="inf1">
      <h4>若在合成過程中有失敗或任何其他問題，歡迎回報至實驗室信箱：<a href="mailto:ahglab2022@gmail.com" id="mailtext">ahglab2022@gmail.com</a></h4>
      <h4>若願意附上您所輸入的.txt檔協助我們改進，我們會非常謝謝您！</h4>
    </div>
     <!--導覽列-->
     <nav class="navbar fixed-top navbar-light bg-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('home')}}">
            <img src="/static/images/icon2.png" alt="" width="30" height="24" class="d-inline-block align-text-top"> SVM LAB
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">線上歌聲合成系統</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">合成首頁</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{url_for('oneclick')}}">一鍵合成</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{url_for('mergefile')}}">一鍵合併並合成</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{url_for('music')}}">合成結果</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://ieeexplore.ieee.org/document/9689619" target="_blank">應用技術</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.ee.nthu.edu.tw/ywliu/" target="_blank">了解更多</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>
</body>

</html>

<script type="text/javascript">
    $(window).on("unload", function () { 
        $('#oneclickBtn').click(function(){
            $('.spinner-div').css('visibility', 'visible');
            $('#oneclickBtn').css('opacity', '65%');
            $('#oneclickBtn').css('pointer-events', 'none');
            $('#uploadBtn').css('opacity', '65%');
            $('#uploadBtn').css('pointer-events', 'none');
        });
    });
    $(window).on("load", function () { 
        $('#oneclickBtn').click(function(){
            $('.spinner-div').css('visibility', 'visible');
            $('#oneclickBtn').css('opacity', '65%');
            $('#oneclickBtn').css('pointer-events', 'none');
            $('#uploadBtn').css('opacity', '65%');
            $('#uploadBtn').css('pointer-events', 'none');
        });
    });
</script>
