@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');

body  {
 background-image:url('/static/images/fig9.png');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
 font-family: 'Noto Serif TC', serif;
 }
 h1, h2, h3, h4, h5, h8 {font-weight:500;}

input#oneclickBtn, input#mergeBtn, a#resultBtn{
 background-color: #1d3557;
 border-color: #1d3557;
 color: #fff;
}
input#f_doneBtn, input#f_lyricsBtn, input#f_pitchBtn, input#f_notelenBtn{
 background-color: #34A0A4;
 border-color: #34A0A4;
 color: #fff;
}

div#inf1{
 background-color: #34A0A4;
 color: #fff;
}

input#uploadBtn {
 background-color: #5fa8d3;
 border-color: #5fa8d3;
 color: #fff;
}

.spinner-div{
 visibility: hidden;
} 