<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SVS online</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.9.0/brython.js"></script>
        <script type="text/javascript" src="/static/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <center>
            <h1>線上歌聲合成系統</h1>
            <!--alert()會彈出訊息提示-->
            <input type="button" class="btn btn-warning" value="點此查看使用方法" 
            onclick="alert('----------使用說明----------')">
            <title>My Application</title>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </center>
        <!--bootstrap預設將畫面分成12欄-->
        <div class="container-fuild">   <!--container為定寬容器；加上fluid:不定寬容器-->
            <br>
            <div class="row">
                <div class="col">
                    <div class="text-left">
                        <center>
                            <h2>本次合成結果</h2>
                            <audio id="audio_now" controls="controls" autoplay="autoplay" ></audio>
                            <ul>
                                {% for song in songs %}
                                    <li><a href="javascript:void(0);" onclick="playSong_now('{{song}}')">{{song}}</a></li>
                                {% endfor %}
                            </ul>
                            <script type="text/javascript">
                                function playSong_now(song){
                                    $('#audio_now').attr('src', '../static/exp/pwg/soundfile/'+song);
                                }
                            </script>
                            <h5>如果願意分享給其他人，清除前記得儲存檔案喔!</h5>
                            <h5>清除本次合成音檔</h5>
                            <form method="post" action="">
                                <input type="submit" value="clear" name="clear">
                            </form>
                        </center>
                    </div>
                </div>
                <div class="col">
                    <center>
                        <h2>歷史合成結果</h2>
                        <h3>聽聽別人合成的成果吧!</h3>
                        <audio id="audio_his" controls="controls" autoplay="autoplay" ></audio>
                            <ul>
                                {% for song0 in his_songs %}
                                    <li><a href="javascript:void(0);" onclick="playSong_his('{{song0}}')">{{song0}}</a></li>
                                {% endfor %}
                            </ul>
                            <script type="text/javascript">
                                function playSong_his(song0){
                                    $('#audio_his').attr('src', '../static/exp/pwg/soundfiles_b/'+song0);
                                }
                            </script>
                            <h4>將你的合成音檔儲存分享給更多人看到吧!</h4>
                            <form method="post" action="">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">檔案名稱</span>
                                    <span class="input-group-text">(限用英文取名)</span>
                                    <input type="text" class="form-control" aria-label="file name" id="savefname" name="nm">
                                </div>
                                <input type="submit" value="save" name="save">
                            </form>
                    </center>
                </div>
            </div>
            <center>
                <a href="{{url_for('home')}}" class="btn btn-primary">回到合成頁面！</a>
            </center>
        </div>   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>